.u-section-1 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 861px;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 66px;
  height: 66px;
  margin: -76px auto 0 41px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 66px;
  height: 66px;
  margin: -66px 41px 0 auto;
  padding: 0;
}

.u-section-1 .u-widget-1 {
  min-height: 880px;
  height: auto;
  width: 933px;
  margin: 51px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 721px;
    margin-top: 51px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -66px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -70px;
  }

  .u-section-1 .u-widget-1 {
    margin-top: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 528px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 19px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-widget-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 371px;
    margin-top: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -91px;
  }

  .u-section-1 .u-widget-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -75px;
    margin-right: 10px;
  }

  .u-section-1 .u-widget-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}